@model WebApplicationMVC.Models.Driver
<div>
    @using (Html.BeginForm("Index", "Parciales", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <fieldset>
            <div>
                @Html.LabelFor(m => m.Nombre, new { Class = "Label" })
                @Html.EditorFor(m => m.Nombre)
            </div>
            <div>
                @Html.LabelFor(m => m.Apellido, new { Class = "Label" })
                @Html.EditorFor(m => m.Apellido)
            </div>
            <div>
                @Html.LabelFor(m => m.FechaNacimiento, new { Class = "Label" })
                @Html.EditorFor(m => m.FechaNacimiento)
            </div>
            <div>
                @Html.LabelFor(m => m.Nacionalidad, new { Class = "Label" })
                @Html.EditorFor(m => m.Nacionalidad)
            </div>
            <input type="submit" value="Dar de alta" />
        </fieldset>
    }
</div>